
  html, body {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    flex-direction: row;
  }
  #map {

    height: 80vh;
    width: 60vw;
  }
  #list{
    
  }
